
body {
    background-color: black;
    /* border-bottom: .1em solid #ABC9CB; */
}

.background-container {
    position: fixed;
    /* top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    display: flex; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.video-background {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%; */
}

.nav-bar {
    background-color: #333333;
    height: 2.7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 11;
    width: 100vw;
}

.nav-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-left: 1em;
}

.nav-left h3 {
    font-size: 1.4em;
    color: transparent;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.9);
    transform: rotate(180deg);
}

.nav-left h2, #txt {
    padding-left: .5em;
    padding-right: .5em;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.9);
    font-family: Arial, Helvetica, sans-serif;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 1em ;
}

main {
    overflow: hidden;
}

.social-links a {
    font-size: 1.5em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    margin: 0 .2em;
}

.social-links a:hover {
    color: lightgray;
}

#icon, #icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
    position: absolute;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 4px #000000;
}

#icon-img, #icon1-img, #icon2-img, #icon3-img, #icon4-img, #icon5-img, #icon6-img {
    width: 5em;
    cursor: move;
    z-index: 10;
    padding-bottom: .2em;
}

.chicken-tinder {
    top: 25vh;
    left: 70vw;
}
.tappd {
    top: 30vh;
    left: 55vw;
}
.wiki-clicker {
    top: 15vh;
    left: 50vw;
}

.e-mail {
    top: 40vh;
    left: 14vw;
}

.phone {
    top: 35vh;
    left: 5vw;
}

.resume {
    top: 18vh;
    left: 10vw;
}

.about {
    top: 50vh;
    left: 8vw;
}


@media only screen and (max-width: 700px) {

    body, .background-container {
        overflow: hidden;
    }

    .nav-bar {
        display: none;
    }

    .chicken-tinder {
        top: 10vh;
        left: 70vw;
    }
    .tappd {
        top: 10vh;
        left: 40vw;
    }
    .wiki-clicker {
        top: 10vh;
        left: 10vw;
    }
}